.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario div {
    width: 100%;
}
.formulario .label-grande {
    width: 50%;
    text-align: right;
    display: inline-block;
}

.formulario .linha-formulario {
    margin-bottom: 15px;
}
