body {
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.cabecalho {
    background: radial-gradient(rgb(228, 115, 23), transparent);
    margin-bottom: 5px;
}

.menu {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.menu a {
    text-decoration: none;
    border: 1px solid black;
    font-weight: bold;
    color: blue;
    padding: 3px;
}
table tr:nth-child(1) {
 background-color: black;
 color: white;
}
.lista tr td {
    padding: 5px;
}